img { display: block; max-width: 100%;
height: auto;
align: center;}

body h1, body p, body figcaption  { text-align: center;}

body { background-image: url(https://www.wallpaperflare.com/static/566/789/234/cannabis-texture-drugs-minimalism-wallpaper.jpg);}

body h1, body p, body figcaption, body h3, body ul, body cite {color: white;}

#image {margin-left: auto; margin-right: auto;}
#main { max-width: 1140px; margin: auto;}
